set backspace=indent,eol,start
set nocompatible
set expandtab
set tabstop=4
set shiftwidth=0

nnoremap H 10h
nnoremap J 10j
nnoremap K 10k
nnoremap L 10l
nnoremap v, ggVG
inoremap <silent> jj <Esc>
inoremap <silent> <C-j> <C-n>
inoremap <silent> <C-k> <C-p>
inoremap <silent> <Right> <Esc>gt
inoremap <silent> JJ <Esc>
